.modal.fade { z-index: 10000000 !important; }
.modal-backdrop{z-index: 1550 !important;}
.modal{z-index: 1560 !important;}

.header-top {
    background-color: rgba(33, 33, 33, 0.9);
    line-height: 1.5;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-bold {
    font-weight: bold;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.text-size-first {
    font-size: 150%;
    font-weight: bold;
}

.text-size-second {
    font-size: 116%;
}

.text-size-third {
    font-size: 80%;
}

.text-size-fourth {
    font-size: 70%;
}

.text-size-fifth {
    font-size: 90%;
}

.text-size-sixth {
    font-size: 85%;
    line-height: 1.6;
}

.text-emphasis-first {
    color: aquamarine;
}

.text-emphasis-second {
    color: rosybrown;
}

.text-emphasis-third {
    color: gold;
}

.text-emphasis-fourth {
    color: orange;
}

.text-emphasis-fifth {
    color: lightskyblue;
}

.curriculum-add .lecture-item,
.curriculum-add .chapter-item{
    position: relative;
}

.curriculum-add .lecture-item .btn-danger,
.curriculum-add .chapter-item .btn-danger{
    position: absolute;
    right: 22px;
    top: 3px;
    width: 30px;
    height: 22px;
    text-align: center;
    padding: 0px 6px;
}

.curriculum-add .lecture-item .btn-danger i,
.curriculum-add .chapter-item .btn-danger i{
    color: white;
    font-size: 16px !important;
    text-align: center;
}

.curriculum-add .lecture-item .btn-danger{
    left: -25px;
    top: 30%;
}

.course-btns{
    display: flex;
    justify-content: space-evenly;
}

.course-btns .btn{
    width: 40px;
    height: 30px;
    padding: 4px 8px;
}

.course-btns .btn i{
    color: white;
    font-size: 20px !important;
    line-height: 1!important;
    text-align: center;
}