html {
    font-family: 'Roboto', sans-serif !important;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 2px;
    padding: 0;
    font-size: small;
    background-color: white !important;
}

.color-gray {
    color: #9e9e9e;
}

.color-red {
    color: #f44336;
}

.color-green {
    color: #4caf50;
}

.btn-primary {
    background-color: rgb(0,188,212) !important;
}

.btn-danger {
    background-color: rgb(255,64,129) !important;
}

.alert-danger {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

input {
    font-size: 18px !important;
    margin-bottom: 0 !important;
}
input::placeholder {
    font-size: 18px !important;
}
.control-label {
    font-size: 18px !important;
}
.form-control {
    font-size: 18px !important;
}
.checkbox-control{
    font-size: 18px !important;
    margin-left: 1rem!important;
    height: 30px !important;
    width: 20px;
    margin-top: 0px !important;
}
.help-block {
    font-size: 18px !important;
}

.divider {
    margin: 0;
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
}

.collapsible-header {
    font-weight: bold;
    font-family: 'Roboto', 'PT\ Sans', sans-serif;
    line-height: 6rem;
    font-size: 2rem;
}

.collapsible-body {
    margin-left: 3.5rem;
}

.collapsible-icon {
    color: rgba(181, 135, 200, 1);
    font-size: 2.6rem !important;
    margin-right: 2.4rem !important;
    vertical-align: middle !important;
    line-height: 6rem !important;
}

.collapsible-scroll {
    margin:0 auto;
    overflow-x: hidden;
    overflow-y: auto;
    width:100%;
    height:100%;
    text-align:center;
}

.show-more-button  {
    cursor: pointer;
    margin: 5px 0 0 0;
    color: white;
    background-color: pink;
    padding: 5px 10px;
    text-align: center;
}

.flex{
    display: flex !important;
    align-items: center !important;
}

.update-lectures label,
.update-lectures input,
.update-lectures button{
    font-size: 1em !important;
}

.mb-12{
    margin-bottom: 12px !important;
}

.curriculum-add .collapsible-icon{
    line-height: 1 !important;
}